<!DOCTYPE html>
<html>
<head>
  <title> Node js</title>
    <script src = "ejs_production.js"></script>

<style>
body{
  background: skyblue;
  font-family: verdana;
  color:#fff;
  padding:30px;

}
h1{
  font-size:48px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;

}
p{
  font-size: 16px;
  text-align: center;
}
p,li{
font-size:16px;
text-align: center;
list-style-type: none;}
</style>
</head>
<body>


    <h1>PROFILE PAGE</h1>
    <% include partials/nav.ejs %>
    <h1> Welcome to <%= person %></h1>
    <p> <strong> Age:</strong><%= data.age %></p>
    <p><strong>Job:</strong><%= data.job %></p>
    <ul>
      <% data.hobbies.forEach(function(item){ %>
        <li> <%= item %></li>

      <%})%>
    </ul>
</body>
</html>
